.header {
    display: flex;
    flex-direction: row;
}

.header-item {
    margin: 1em;
}

.header-mui {
    margin-top: 1em;
}

#enter-room {
    margin: 1em;
}

#username-field {

}

.message-box {
    height: 70vh;
    margin: 0.5em;
    border: 2px solid grey;
    border-radius: 10px;
    overflow-y: auto;
}

.message {
    margin: 1em;
    border: 2px solid blue;
    border-radius: 10px;
}

.message > h6, .message > h5 {
    margin: 0.5em;
}

.message-input {
    display: flex;
    flex-direction: row;
}

.message-input-field {
    margin: 0.5em;
    width: 86vw;
}

